body {
    background-color: #000000;
    color: white;
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 18px;
    margin: 0px;
}

Header {
    font-size: 30px;
}
#left-column {
    padding: 20px 2rem;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#right-column {
    background-color: black;
}

h2 {
    color: #2c8cff;
    font-weight: bold;
}

h4 {
    color: #2c8cff;
    font-weight: bold;
}

h5 {
    color: #2c8cff;
    font-weight: bold;
}

h3 {
    color:#2c8cff;
}
#intro {
    margin: 20px 0px;
    text-align: justify;
}

#control-card label {
    font-weight: bold;
}

.graph_card {
    background-color: white;
    border-radius: 0.675rem;
    padding: 1rem;
    margin: auto;
    margin-top: 20px;
}

.graph_card h6 {
    margin:  0 7px;
    padding-bottom: 7px;
    border-bottom:  1px solid #ccc;
}

.dropdown2 {
    background-color: burlywood;
    color: #333333
}

